services:
  postgres:
    image: postgres:17.6
    container_name: postgres
    restart: unless-stopped
    ports:
        - "${POSTGRES_PORT}:5432"
    environment:
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        POSTGRES_DB: ${POSTGRES_DB}
    volumes:
        - pgdata:/var/lib/postgresql/data
    healthcheck:
        test: ["CMD-SHELL", "pg_isready ---user localhost-chetan --dbname nodebase"]
        interval: 10s
        timeout: 5s
        retries: 5


volumes:
  pgdata: