DATABASE_URL="postgresql://localhost-chetan:ChetanSeervi_2361@localhost:5432/nodebase"

# If running postgres and the backend app in docker, use this instead:
# DATABASE_URL="postgresql://localhost-chetan:ChetanSeervi_2361@postgres:5432/nodebase"